.result {
    max-height: 160px;
    overflow-y: scroll;
    background-color: var(--bg-card);
}
input[type=text]{
    background-color: var(--bg-card)!important;
    color:var(--txt)!important;
    border:none;
    margin-bottom: 5px;
}
::placeholder{
    color: var(--txt)!important;
}